<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.neodestiny.promedioipchile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Promedios IPChile"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".actividadNotas" />
        <activity android:name=".actividadExamen" />
        <activity android:name=".actividadEva" />
        <activity android:name=".actividadInformacion" />
        <activity android:name=".actividadProm_Final"></activity>
    </application>

</manifest>